.row {
    margin: 0;
}

.mb-60 {
    margin-bottom: 60px;
}
.mt-50{
    margin-top: 50px;
}
.pt-100{
    padding-top: 100px;
}
.pt-75{
    padding-top: 75px;
}
.py-75{
    padding: 75px 0;
}
.pb-md-75{
    padding-bottom: 75px;
}
.px-md-50{
    padding: 0 50px;
}
.w-xl-75{
    width: 75%;
}
.py-150{
    padding: 150px 0;
}
.py-50{
    padding: 50px 0;
}

.w-85 {
    width: 85%;
}

.no-padding {
    padding: 0;
}

.mobile-mt-10 {
    margin-top: 10px;
}
.mobile{
    display: none;
}
:root {
    --light-yellow: #ffdd00;
    --dark-yellow: #b39b00;
    --dark-gray: rgb(43 48 53);
}

body {
    color: white;
    background: black;
}

h2 {
    color: var(--light-yellow);
    font-size: 48px;
}

.header__area {
    height: 100vh;
    position: relative;
}

.header__area::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../img/CHHTOUR.jpg);
    background-size: 100% 100%;
    background-position: center;
    opacity: 0.3;
}

.header__area-logo {
    width: 300px;
}

.header__area-navbar {
    background: transparent !important;
    border-bottom: 0.5px solid var(--dark-yellow);
}

.header__area-nav-item {
    font-size: 18px;
    margin: auto 20px;
}

.header__area-nav-link:hover {
    color: var(--light-yellow) !important;
}

.service__area {
    padding: 150px 0;
}

.service__area-btn,
.about__area-btn,
.contact__area-btn,
.enquiry__form-btn {
    color: var(--light-yellow);
    border: 1px solid var(--light-yellow);
}

.service__area-btn:hover,
.about__area-btn:hover,
.contact__area-btn:hover,
.enquiry__form-btn:hover {
    background: var(--dark-yellow);
    color: var(--dark-gray);
}

.service__area-card-item {
    background: var(--dark-gray);
    color: white;
    padding: 20px 0;
}

.footer_area {
    padding: 50px 0;
    background: var(--dark-gray);
    ;
    color: white;
}

.footer__area-copyright {
    text-align: center;
}

.footer__area-logo {
    width: 200px;
    margin: 0 auto 20px;
}

.footer_area-menu {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.footer_area-menu li {
    list-style: none;
}

.footer_area-menu-item {
    color: white;
    margin: auto 20px;
    text-decoration: none;
}

.footer_area-social-link {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.footer_area-social-link-item {
    color: white;
    width: 100px;
    text-align: center;
    font-size: 25pt;
}

.footer_area-social-link-item:hover,
.footer_area-menu-item:hover {
    color: var(--light-yellow);
}

.about__area {
    padding: 0;
    background: var(--dark-gray);
}

.about__area-title {
    margin: 20px 0;
    text-align: center;
    border-bottom: 0.5px solid;
    text-decoration: underline;
    padding-bottom: 50px;
    font-size: 50px;
}

.about__area-btn {
    padding: 20px 40px;
    font-size: 25px;
    max-width: 250px;
    margin-top: 40px;
}

.about__area-subtitle {
    font-size: 16px;
    text-decoration: underline;
}

.about__area-description {
    font-size: 14px;
}

.about__area-card-info {
    width: 80%;
    margin: auto;
}
.about__area-image{
    background-image: url('../img/LFIss2.jpeg');
}
.about__area-image-2{
    background-image: url('../img/TODss3.jpeg');
}
.about__area-image-3{
    background-image: url('../img/ACTS.jpeg');
}
.about__area-image-4{
    background-image: url('../img/Nexo\ Geo.jpeg');
    height: 350px;
}
.about__area-image,
.about__area-image-2,
.about__area-image-3,
.about__area-image-4 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.enquiry_area{
    background-color: var(--dark-gray);
}
.enquiry_area-form{
    max-width: 768px;
}
.decription__area {
    padding: 150px 0;
}

.decription__area-item {
    width: 70%;
    max-width: 720px;
    text-align: center;
    margin: auto;
}

.decription__area-content {
    font-size: calc((1.25 - 1) * 1.2vw + 1rem);
}

.decription__area-author {
    margin-top: 40px;
}

.decription__area-prev-icon,
.decription__area-next-icon {
    display: block;
    border-radius: 50%;
    color: var(--light-yellow);
    border: 1px solid var(--light-yellow);
    font-size: 30px;
    padding: 0 15px;
}
@media only screen and (max-width: 1199px) {
    .w-xl-75{
        width: unset;
    }
}
@media only screen and (max-width: 767px) {
    .pc{
        display: none;
    }
    .mobile{
        display: block;
    }
    .px-md-50{
        padding: unset;
    }
    .pb-md-75{
        padding-bottom: 0;
    }
    .h-sm-200{
        height: 200px;
    }
    .header__area-logo {
        width: 200px;
    }

    .header__area-navbar {
        padding: 20px 0;
    }

    .header__area-nav-item {
        margin-top: 10px;
        border-bottom: 0.5px solid var(--dark-yellow);
    }

    .footer__area-copyright {
        text-align: left;
    }

    .footer_area-menu {
        display: block;
        margin-bottom: 10px;
    }

    .footer_area-social-link {
        justify-content: start;
    }

    .footer_area-menu-item {
        margin: 0 0 20px 0;
        display: block;
    }

    .footer__area-info {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .footer_area-social-link-item {
        font-size: 16pt;
        width: 55px;
    }
    .about__area-image,
    .about__area-image-2{
        height: 350px;
    }
    .about__area-image-3,
    .about__area-image-4 {
        height: 200px;
    }
    .about__area-image,
    .about__area-image-2,
    .about__area-image-3,
    .about__area-image-4  {
        width: 90%;
        margin: 20px auto 0;
        background-position-y: 70%;
    }
    .decription__area-prev-icon,
    .decription__area-next-icon {
        font-size: 20px;
        padding: 0 10px;
    }
}

@media only screen and (max-width: 424px) {

    .footer_area-social-link-item {
        font-size: 16pt;
        width: 35px;
    }
}